<!--/////////////////////////////////////////////////-->
<!--////////////////USER FACING PAGE/////////////////-->
<!--/////////////////////////////////////////////////-->

{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">

  <div class="col-12 col-sm-6 col-md-5 col-lg-4 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="q-mb-sm q-mt-none">To do</h6>

    <q-card class="my-card" v-for="task in publicTasks" flat bordered>
      <div v-if="task.stage === 'todo'">
      <q-card-section horizontal>
        <q-card-section class="q-pt-xs">
          <div class="text-h6 q-mt-sm q-mb-xs" v-text="task.task"></div>
          <div class="text-caption text-grey" v-text="task.notes"></div>
          <div class="text-caption text-grey" v-text="task.reward"></div>
          <div class="text-caption text-grey" v-text="task.assignee"></div>
        </q-card-section>
      </q-card-section>
      <q-card-actions>
        <q-btn flat color="primary">
          edit
        </q-btn>
      </q-card-actions>
    </div>
    </q-card>
    

      </q-card-section>
    </q-card>
  </div>
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="q-mb-sm q-mt-none">Doing</h6>

    <q-card class="my-card" v-for="task in publicTasks" flat bordered>
      <div v-if="task.stage === 'doing'">
      <q-card-section horizontal>
        <q-card-section class="q-pt-xs">
          <div class="text-h6 q-mt-sm q-mb-xs" v-text="task.task"></div>
          <div class="text-caption text-grey" v-text="task.notes"></div>
          <div class="text-caption text-grey" v-text="task.reward"></div>
          <div class="text-caption text-grey" v-text="task.assignee"></div>
        </q-card-section>
      </q-card-section>
      <q-card-actions>
        <q-btn flat color="primary">
          edit
        </q-btn>
      </q-card-actions>
    </div>
    </q-card>
    
      </q-card-section>
    </q-card>
  </div>
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="q-mb-sm q-mt-none">Done</h6>
    <q-card class="my-card" v-for="task in publicTasks" flat bordered>
      <div v-if="task.stage === 'done'">
      <q-card-section horizontal>
        <q-card-section class="q-pt-xs">
          <div class="text-h6 q-mt-sm q-mb-xs" v-text="task.task"></div>
          <div class="text-caption text-grey" v-text="task.notes"></div>
          <div class="text-caption text-grey" v-text="task.reward"></div>
          <div class="text-caption text-grey" v-text="task.assignee"></div>
        </q-card-section>
      </q-card-section>
      <q-card-actions>
        <q-btn flat color="primary">
          edit
        </q-btn>
      </q-card-actions>
    </div>
    </q-card>
    
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  public_page_tasks = {{ public_page_tasks | safe }}
  scrum_id = '{{ scrum_id }}'
  window.app = Vue.createApp({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        paymentRequest: '',
        paymentHash: '',
        invoicePaid: false,
        scrumId: scrum_id,
        tasksId: null,
        publicTasks: public_page_tasks
      }
    },
    methods: {
      async moveTask(taskId, data)
      {
        await LNbits.api.request(
          "PUT",
          '/scrum/api/v1/public/tasks/' + taskId,
          null,
          data
        )
        this.getTasks()
        this.tasksFormDialog.show = false
      }
    },
    created: function () {
      console.log(this.publicTasks)
    }
  })
</script>
{% endblock %}